asgiref==3.8.1
Django==5.1.5
django-bootstrap5==24.3
django-extensions==3.2.3
django-pygments-renderer==0.0.1
django-widget-tweaks==1.5.0
django-humanize==3.0.0
django-environ==0.11.2
djangorestframework==3.15.2
factory_boy==3.3.1
Faker==33.3.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
wcwidth==0.2.13
